<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZY601YiChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BBB3E951C8D0ECA004887BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BBB3EAE1C8D0ECB004887BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BBB3EB91C8D0ECC004887BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
